<div class="container">
  <!-- ngfor -->
  <div class="jumbotron">
    <h4 class="text-center"><strong>*ngFor</strong> directive</h4>
    <hr />
    <ul class="list-group" *ngFor="let user of users; index as i">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{user.name}}
        <span class="badge badge-primary badge-pill white-text">{{i + 1}}</span>
      </li>
    </ul>
  </div>
  <br />

  <!-- ngif else then-->
  <div class="jumbotron">
    <h4 class="text-center"><strong>*ngIf</strong> directive</h4>
    <hr />
    <br />
    <div class="row">
      <ul class="list-group" *ngFor="let user of users">
        <li class="list-group-item" *ngIf="user.location == 'Nairobi'">{{user.name}}</li>
        <li class="list-group-item active" *ngIf="user.location == 'Kisumu'">{{user.name}}</li>
      </ul>
    </div>
  </div>
  <br />
  <!-- ngswitch -->
  <div class="jumbotron">
    <h4 class="text-center"><strong>*ngSwitch</strong> directive</h4>
    <hr />
    <br />
    <div class="row">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" [class.active]="viewMode == 'Nairobi'" (click)="viewMode = 'Nairobi'">
            Nairobi
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="viewMode == 'Kisumu'" (click)="viewMode = 'Kisumu'">
            Kisumu
          </a>
        </li>
      </ul>
    </div>
    <br />
    <div class="row">
      <div *ngFor="let user of users">
        <ul class="list-group" [ngSwitch]="viewMode">
          <li class="list-group-item" *ngSwitchCase="user.location">
            {{user.name}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br />
  <!-- ngstyle and ngclass directive -->
  <div class="jumbotron">
    <h4 class="text-center"><strong>[ngClass] [ngStyle]</strong> directive</h4>
    <hr />
    <br />
    <code class="m-2"><kbd>[ngStyle]</kbd></code>
    <code><kbd>[ngClass]</kbd> covered in <a routerLink=""><u>Bindings</u></a></code>
  </div>

  <!-- Custom directive -->
  <div class="jumbotron">
    <h4 class="text-center"><strong>custom</strong> directive</h4>
    <hr />
    <br />
    <p appMagentablack>This text is styled using a custom directive class</p>
  </div>

  <!-- NgNonBindable -->
  <div class="jumbotron">
    <h4 class="text-center"><strong>ngNonBindable</strong> directive</h4>
    <hr />
    <br />
    <p appMagentablack ngNonBindable>{{this}} {{interpolation}} {{is}} {{printed_as_it_is}}</p>
  </div>

</div>